.filter-bar {
  background-color: #ececec;
  padding: 0.5rem;
}
.group-select,
.group-result {
  display: flex;
}
.sort-btn {
  text-align: center;
  border: 1px solid #385170;
  border-radius: 5px;
  font-size: 1.125rem;
  margin: 1rem;
  width: 4rem;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: transparent url("../../assert/arrow.png") no-repeat right;
  background-position-x: 92%;
  border: 2px solid #385170;
  background-color: white;
  border-radius: 5px;
  font-size: 1.125rem;
  padding: 0 2.5rem 0 0.5rem;
  margin: 1rem;
  height: 40px;
}
.select:focus{
  border-color: #9fd3c7;
  outline-color: #9fd3c7;
}
.check,
.result {
  margin: 0 1rem;
}
.group-select .sort-option {
  text-align: left;

}
.group-select .sort-arrow {
  float: right;
  margin-top: 1px;
  margin-left: 5px;
}
.filter-bar .group-select .active-sort {
  background-color: #142d4c;
  border: 1px solid #9fd3c7;
  color: #9fd3c7;
}
.filter-bar .group-select .active-sort:hover{
  background-color: #9fd3c7;
  color: #142d4c;
}
