.product-detail-container {
    width: 85%;
    margin: 10px auto 100px auto;
    background-color: #ececec;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    height: 1300px;
}
.col-image {
    vertical-align: top;
    display: inline-block;
    margin-right: 5%;
    width: 30%;
}
.col-info {
    vertical-align: top;
    display: inline-block;
    width: 60%;
}
.tab-row .tab-col{
    padding: 10px;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    width: 33%;
    display: inline-block;
    border-bottom: 2px solid #142d4c;
}
.tab-row .active{
    font-weight: 900;
    background-color: #273f5e;
    color: #9fd3c7;
}
.tab-row .tab-col:hover {
    cursor: pointer;
}
.col-info .content-row {
    text-align: left;
    padding-top: 20px;
}
.phone-title {
    font-size: 40px;
}
.image-container {
    margin-top: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.product-detail-container .star {
    font-size: 30px;
    color: #142d4c;
    margin-bottom: 30px;
}
.phone-price {
    margin-top: 10px;
    font-size: 30px;
    color: red;
    margin-bottom: 30px;
}
.discount-price {
    color: gray;
    text-decoration: line-through;
    font-size: 20px;
}
.discount-percent{
    color: gray;
    font-size: 15px;
    margin-left: 10px;
}
.phone-km {
    color: #142d4c;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #142d4c;
}
.km-container{
    margin-top: 50px;
    width: 70%;
    border: 1px solid #142d4c;
    padding: 15px;
    border-radius: 10px;
}
.km-container ul{
    margin-top: 10px;
    font-size: 20px;
}
.phone-btn {
    border: 1px solid #142d4c;
    background-color: white;
    color: #142d4c;
    margin-right: 20px;
    padding: 10px 15px 10px 15px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: all 150ms ease-out; 
    -moz-transition: all 150ms ease-out; 
      -o-transition: all 150ms ease-out; 
         transition: all 150ms ease-out; 
}
.phone-btn:hover {
    background-color: #142d4c;
    color: white;
    cursor: pointer;
    -webkit-transition: all 150ms ease-out; 
    -moz-transition: all 150ms ease-out; 
      -o-transition: all 150ms ease-out; 
         transition: all 150ms ease-out; 
}
.content-specs td:nth-child(odd) {
    width: 30%;
    font-weight: 500;
}
.content-specs {
    width: 100%;
}
.content-specs td,tr {
    padding: 5px 10px 5px 10px;
}
.content-specs tr:nth-child(odd) {
    background-color: white;
}
.content-specs tr:nth-child(even) {
    background-color: #efefef   ;
}
.content-specs table {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.content-specs .spec-category {
    color: #142d4c;
    padding: 15px 10px 15px 10px;
}
.content-rating .big-stars .star{
    font-size: 70px;
}
.content-rating .big-stars {
    margin: 10px auto 10px auto;
    width: 100%;
    text-align: left;
}
.content-rating .big-stars .rating-value {
    font-size: 40px;
}
.content-rating .rating-count {
    font-size: 30px;
}
.content-rating .form-rate {
    width: 100%;
    border: 1px solid #142d4c;
    border-radius: 10px;
    padding: 20px;
}
.content-rating .form-rate textarea {
    width: 100%;
    padding: 5px;
}
.content-rating .form-rate .rate-field {
    font-size: 20px;
}
.content-rating .form-rate .radio-fake {
    margin: 0px 10px 0px 5px;
    padding: 0;
}
.content-rating .form-rate .star {
    margin-bottom: 5px;
    font-size: 20px;
}

