.nav-container {
  background-color: #142d4c;
}
.nav-search {
  float: left;
  border: 1px solid #9fd3c7;
  border-radius: 10px;
  /* display: flex; */
  font-size: 20px;
  color: #9fd3c7;
  align-items: center;
  padding: 6px 5px 6px 15px;
  width: 20%;
}
.nav-search__input {
  background: transparent;
  border: none;
  color: #9fd3c7;
  margin-left: 1rem;
}
.nav-search__input:focus{
  outline: none;
}
.btn-group {
  margin: 0 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logout-btn {
  float: right;
  margin-right: 35%;
  font-size: 2.5rem;
  color: #9fd3c7;
}
.logout-btn:hover {
  cursor: pointer;
  color: white;
}
.avatar {
  float: right;
  height: 44px;
  width: 44px;
  border-radius: 22px;
  border: 1px solid #9fd3c7;
}
.email-label {
  float: right;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0px 10px 0px 10px;
  padding: 0;
}
.email-label:hover {
  cursor: pointer;
  color: #9fd3c7;
}
.avatar:hover {
  opacity: 0.5;
}
.navbar .btn-cart {
  margin-right: 10px;
  width: 160px;
  float: right;
}
.navbar .btn-login{
  float: right;
  margin-right: 30%;
  width: 170px;
  margin-left: 100px;
}
.navbar .btn-edit{
  float: right;
  width: 150px;
}