.form {
  width: 1059px;
  height: 728px;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form-image {
  float: left;
}
.form-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #9fd3c7;
  padding: 5rem 3rem 3rem 3rem;
  right: 0;
  border-radius: 20px;
}
.signup-content {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.form-input {
  border: 1.5px solid #142d4c;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #9fd3c7;
  padding: 0.5rem;
  margin: 1rem;
}
.signup {
  background-color: #142d4c;
  font-size: 1.5rem;
  border-radius: 10px;
  color: #9fd3c7;
  font-weight: 900;
  border: none;
  padding: 0.3rem;
  margin: 1rem;
}
.login-link {
  margin: 1rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
.login-result-error {
  color: #db3906;
  margin-left: 17px;
  font-weight: bold;
}
.homepage {
  position: absolute;
  top: 30px;
  left: 30px;  
  z-index: 2;
  font-size: 20px;
  background-color: white;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
}

.homepage:hover {
  color: white;
  background-color: #9fd3c7;
  cursor: pointer;
}