.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
  
.video-responsive iframe {
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 60%;
    margin-left: auto;
    position: absolute;
}